/* styles.css */
body {
  font-family: "Raleway", sans-serif;
  background-color: #1C1533;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  background: linear-gradient(95deg,#8773C2, 45%, #1C1533);

}

h1 {
  padding-left: 2%;
  color: #C9BBED;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  display: flex;
  
}

div {
  display: flex;
  flex-direction: row;
}

img {
  max-height: 200px;
}
