/* styles.css */
body {
  font-family: "Raleway", sans-serif;
  background-color: #1C1533;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  background: linear-gradient(95deg,#8773C2, 45%, #1C1533);
}

h1 {
  padding-left: 2%;
  color: #C9BBED;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 300;
}

ul {
  list-style: none;
  
}

.card {
  margin-top: 15px;
  width: 200px;
  color: white;
}

h3 {
  font-weight: 200;
  text-align: center;
}
div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card_poster {
  width: inherit;
  opacity : 0.5;
  transition: opacity 1s, zoom 1s;
}

.card_poster:hover {
  opacity : 1;
  
}

